<!-- Footer contents -->
<div class="container cgs-footer">
   <!-- Top Grid -->
   <div class="footer-grid">
      <!-- Explore -->
      <div class="footer-column">
         <h5 class="footer-heading">Explore</h5>
         <ul>
            <li><a href="/browse-menu/">Menu</a></li>
            <li><a href="/must-haves/">Signature Picks</a></li>
            <li><a href="/our-story/">Our Story</a></li>
            <li><a href="/cgs-experience/">The CGS Experience</a></li>
            <li><a href="/quality-hygiene/">Quality & Hygiene</a></li>
            <li><a href="/cafe-in-indore/">Cafe in Indore</a></li>
         </ul>
      </div>
      <!-- More -->
      <div class="footer-column">
         <h5 class="footer-heading">More</h5>
         <ul>
            <li><a href="/orders/">Events & Bulk Orders</a></li>
            <li><a href="/join-our-team/">Join Our Team</a></li>
            <!-- <li><a href="/testimonials/">Testimonials</a></li> // Unhide it and populate the real reviews from customers --> 
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/faq/">FAQ</a></li>
         </ul>
      </div>
      <!-- Legal -->
      <div class="footer-column">
         <h5 class="footer-heading">Legal</h5>
         <ul>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions/">Terms & Conditions</a></li>
         </ul>
      </div>
      <!-- Find Us -->
      <div class="footer-column">
         <h5 class="footer-heading">Find Us</h5>
         <p class="display-address footer-text"></p>
         <div class="footer-actions">
            <a class="map-link bold underline" href="#" target="_blank" rel="noopener noreferrer" title="Click to Navigate">Get Directions</a>
            <br>
            <a class="call-link bold underline" href="#" title="Click to Call">Call</a>
            <a class="whatsapp-link bold underline" href="#" target="_blank" title="Click to Chat">WhatsApp</a>
         </div>
      </div>
   </div>
   <!-- Middle Strip -->
   <div class="footer-middle">
      <div class="section">
         <div class="copyright-infringement">
            <span class="label">Copyright Infringement:</span>
            <div class="content">All content available on this website is for personal use only. Any unauthorized use of protected content (including text, images, videos, or design layouts) is strictly prohibited.</div>
         </div>
         <div class="copyright-content">
            <div>
               © <span id="currentYear"></span> CGS – Coffee, Grill & Shots
            </div>
            <div class="footer-credit">
               Crafted over countless cups of <span class="coffee-mug">🥤</span> by 
               <a class="footer-credit-link">
                  Anurag Birthare
               </a>
            </div>
         </div>
      </div>
      <!-- Logo -->
      <div class="footer-logo">
         <a href="/" class="logo">
            <img src="../images/cgs-logo.webp" alt="CGS-Logo">
         </a>
      </div>
   </div>
</div>
