<!-- Footer contents -->
<div class="cgs-footer">
   <!-- Top Grid -->
   <div class="footer-grid">
      <!-- Explore -->
      <div class="footer-column">
         <h5 class="footer-heading">Explore</h5>
         <ul>
            <li><a href="/browse-menu">Menu</a></li>
            <li><a href="/must-haves">Signature Picks</a></li>
            <li><a href="/our-story">Our Story</a></li>
            <li><a href="/cgs-experience">The CGS Experience</a></li>
            <li><a href="/quality-hygiene">Quality & Hygiene</a></li>
            <li><a href="/cafe-in-indore">Cafe in Indore</a></li>
         </ul>
      </div>
      <!-- More -->
      <div class="footer-column">
         <h5 class="footer-heading">More</h5>
         <ul>
            <li><a href="/orders">Events & Bulk Orders</a></li>
            <li><a href="/join-our-team">Join Our Team</a></li>
            <!-- <li><a href="/testimonials">Testimonials</a></li> // Unhide it and populate the real reviews from customers --> 
            <li><a href="/careers">Careers</a></li>
            <li><a href="/faq">FAQ</a></li>
         </ul>
      </div>
      <!-- Legal -->
      <div class="footer-column">
         <h5 class="footer-heading">Legal</h5>
         <ul>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
         </ul>
      </div>
      <!-- Find Us -->
      <div class="footer-column">
         <h5 class="footer-heading">Find Us</h5>
         <p class="footer-text">
            Shop No 3, Krishna Enclave<br>
            Opp. Sahaj Greens Society<br>
            Scheme 103, Indore
         </p>
         <div class="footer-actions">
            <a href="https://maps.app.goo.gl/kahRsD8Bb74BB3KJ8" target="_blank" class="bold underline" title="Click to Navigate">Get Directions</a>
         <br>
            <a href="tel:+918390540094" class="bold underline" title="Click to Call">Call</a>
            <a href="https://wa.me/918390540094?text=Hi,%0AI%20am%20writing%20to%20you%20to%20enquire%20about%20something." target="_blank" class="bold underline" title="Click to Chat">WhatsApp</a>
         </div>
      </div>
   </div>
   <!-- Middle Strip -->
   <div class="footer-middle">
      <div class="section">
      <span class="label">Copyright Infringement:</span>
      <div class="content">All content available on this website is for personal use only. Any unauthorized use of protected content (including text, images, videos, or design layouts) is strictly prohibited.</div>
   </div>
      <!-- Social -->
      <div class="section">
         <span class="label">Behind the Brew</span>
         <div class="content social-icons">
            <a href="#"><img src="../images/icons/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../images/icons/youtube.png" alt="YouTube"></a>
            <a href="#"><img src="../images/icons/facebook.png" alt="Facebook"></a>
         </div>../
      </div>
      <!-- Logo -->
   <a href="./" class="logo">
      <img src="../images/CGS-2.4.png">
   </a>
   </div>
   <!-- Bottom -->
   <div class="footer-bottom grid md:grid-cols-1 lg:grid-cols-3 gap-1">
      <div>
         © 2026 CGS – Coffee, Grill & Shots
      </div>
      <div class="footer-credit">
         Crafted over countless cups of <span class="coffee-mug">🥤</span> by 
         <a class="footer-credit-link">
            Anurag Birthare
         </a>
      </div>
   </div>
</div>